<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Annotation</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-home"></i>
                    <!-- Home -->
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-info-circle"></i>
                    <!-- About -->
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="fas fa-envelope"></i>
                    <!-- Contact Us -->
                </a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1>Image Annotation Tool</h1>

        <form method="post" enctype="multipart/form-data">
            
            <label for="file-upload" class= "custom-file-upload">
                <i class="fas fa-cloud-upload-alt"></i> 
            </label>

            <input type="file" id="file-upload" name="file" class="file-upload">
        
            <input type="text" name="url" id="url-box" placeholder="Or Enter Valid Image URL">
            <br>
            <button type="submit" class="button">Annotate</button>
        </form>

        <!-- Original Image -->
        {% if uploaded_image %}
            <h2>Original Image</h2>
            <img src="{{ url_for('uploaded_file', filename=uploaded_image) }}" alt="Uploaded Image" class="images">
        {% endif %}

        <!-- Annotated Image -->
        {% if annotated_image %}
            <h2>Annotated Image</h2>
            <img src="{{ url_for('uploaded_file', filename=annotated_image) }}" alt="Annotated Image" class="images">
            <br>
            <a id="download" href="{{ url_for('uploaded_file', filename=annotated_image) }}" download class="button">Download Annotated Image</a>
        {% endif %}

        <!-- Error Message -->
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </div>
</body>
</html>
